body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: var(--cinzaBase);
    padding: 0.5rem;
    background-image:url(/imagens/texturaBackground.we)
}

p {
    padding: 0.5rem;
}

:root {
    --azulBase: #004aad;
    --branco: #ffffff;
    --preto: #000000;
    --cinzaBase: #505050;
    --azulBase2: #0099ff;
}

/* Menu principal barra */

#menuMainLogo {
    display: flex;
    background: #505050;

}

.menuMainItens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px 10px;

}

.menuMainItens li {

    display: flex;
    font-size: 1.1rem;
}

.menuMainItens li a {
    text-decoration: none;
    border: 2px solid black;
    background: var(--azulBase);
    border-radius: 0.4rem;
    padding: 5px 8px;
    color: var(--preto);
}



.menuMainItens li a:link {
    text-decoration: none;
    color: var(--preto);
}

.menuMainItens li a:visited {
    text-decoration: none;
    color: var(--preto);
}

.menuMainItens li a:hover {
    text-decoration: none;
    background: var(--azulBase);
    color: var(--branco);
    transition: 0.4s;
}


/* imagens Index */

.imgBackground {
    background-image: url(/imagens/index2.png);
    background-size: cover;
    border-radius: 3rem;
}

@keyframes block1Animacao{
    0% {margin-left:0; opacity: 0%;}
    100% {margin-left: 50%; opacity: 100%;}
   
}

#block1{
    margin-left: auto;
    background-image: url(/imagens/setaIndex1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50vh;
    background-position: center; 
    animation-name:block1Animacao;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    

}

@keyframes block2Animacao{
    0% {margin-right:0; opacity: 0%;}
    100% {margin-right: 50%; opacity: 100%;}
}


#block2{
    margin-left: auto ;
    background-image: url(/imagens/setaIndex2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50vh;
    background-position: center; 
    animation-name:block2Animacao;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/*section */

section {
    display: flex;
    background-color: var(--branco);
}

.divSection {
    width: 100%;
}

.divSection h2 {
    padding: 0.5rem 1rem;
    color: var(--azulBase);

}

.divSection p {
    color: var(--cinzaBase);
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.divSection2 a {

    display: flex;
    justify-content: center;
}

.divSection2 a img {
    display: flex;
    width: 75%;

}

/*Rodapé*/

footer {
    width: 100%;
    background-color: var(--cinzaBase);

}

#footerColumms {
    display: flex;
    align-content: center;
    padding: 2rem;
    gap: 6rem;    
    
}

#footerColumms h2{
    color: var(--branco);
}

#footerSocialMidia{
    padding: 1rem;
}
 

#footerList li{
    list-style: none;
    font-size: 1.05rem;
    padding: 0.5rem; 
    text-decoration: none; 
}

#footerList li a:link{
    text-decoration: none;
    color: var(--branco);
}

#footerList li a:visited{
    text-decoration: none;
    color: var(--branco);
}

#footerList li a:hover{
    text-decoration:none;
    transition: 0.2s;
    color: var(--azulBase2);
}


#copyRight {
    display: flex;
    color: var(--branco);
    padding: 0.5rem 0rem;
    justify-content: center;
    width: 100%;
}